@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "_Layout";
}
@model
<link rel="stylesheet" href="~/css/Private.css" asp-append-version="true" />
<form asp-action="PrivateAccount" method="post">
    <div class="MImg">
          <img src="https://3.404content.com/1/76/B8/1138265597082862982/fullsize.jpg" height=400/>  
          <button class="e205_69">Добавить рецепт</button>
    </div>
    
    <div class="new">
        <div class="mail">
            <p class="e205_58">Почта</p>
            <input required type="text" name="loginOrEmail"/>
        </div>
    <div class="pass">
         <p class="e205_58">Пароль</p>
        <input required type="text" name="Password"/>
        
    </div>
    <div class="nik">
         <p class="e205_58">Ник-нейм</p>
        <input required type="text" name="Nik"/>
    </div>
    <div class="nik">
         <p class="e205_58">Дата рождения</p>
            @using (CookingBookContext cookingBook = new CookingBookContext())
            {
                <input required type="datetime-local" name="Data">@cookingBook.Users.Where(x=>x.IdUser == 1)
            }
            <input required type="datetime-local" name="Data"/>
    </div>
    <div class="save">
        
        <button class="e205_70" asp-action="">Сохранить изменения</button>
    </div>
    </div>
</form>