@{
    ViewData["Title"] = "Личный кабинет";
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/css/Private.css" asp-append-version="true" />
<form asp-action="Main" method="post">
    <div class="MainImg">
          <img src="https://3.404content.com/1/76/B8/1138265597082862982/fullsize.jpg" height=300/>
    </div>
  
    <div class="new">
    
    </div>
</form>